*.o
*.lo
*.la
.deps
.libs
.dirstamp
aclocal.m4
autom4te.cache
Makefile
Makefile.in
.build-debug
.build-release
.codelite
circada.mk
circada.txt
libcircada.mk
libcircada.txt
config.log
config.status
libtool
circada
*.so
m4/*.m4
configure
ltmain.sh
