*.o
*.lo
*.la
.deps
.libs
.dirstamp
aclocal.m4
autom4te.cache
Makefile
Makefile.in
.build-debug
.build-release
.codelite
.clang
circada.mk
circada.txt
libcircada.mk
libcircada.txt
compile
config.guess
config.log
config.status
config.sub
depcomp
libtool
circada
*.so
m4/*.m4
configure
ltmain.sh
missing
install-sh
Debug
Release
